
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Spartan', sans-serif, Arial, Helvetica;

}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 56px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #464646;
    margin: 15px 0 20  0px
}

.section-p1{
    padding: 40px 80px;
    margin: 40px 0;
}

.section-m1{
    margin: 40px 0;
}

body{
    width: 100%;
}


/* Header*/

header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between ;
    padding: 20px 80px;
    background: #041181;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: sticky;
    top: 0;
    left:0;
}


.navbar2{
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
    gap: 10px;

}
#close-toggle{
   display: none;
}
.navbar2 img{
    color: #fff;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease;
}
.navbar li a:hover,
.navbar li a.active{
    color: #088178;
}

.navbar li a.active::after,
.navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Painel Principal*/

.painel{
    background-image: url("imgs/lewan.png");
    height: 90vh;
    width: 100%;
    background-position: top 10vh right 0;
    background-repeat: no-repeat;
    background-size: 500px;
    padding:  0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.painel h4{
    padding-bottom: 15px;
}
.painel h1{
    color: #088178;
}

.painel button{
    background-color: #088178;
    color: #1a1a1a;
    border: 0;
    border-radius: 50px;
    padding: 10px 80px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

.shop-header{
    background-color: #464646;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;

}

.shop-header h1,
.shop-header p{
    color: #fff;
}





.produtos{
    padding: 40px 80px;
    margin-top: 150px;
    text-align: center;
}
.produtos-container{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}


.produto{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
}

.produto :hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}


.produto img{
    width: 100%;
    border-radius: 20px;

}

/*Pagina de compra das Camisas*/

.produto-img {
    width: 100%;
    margin-right: 50px;
}

.img{
    display: flex;
    justify-content: space-between;
}

.img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.produtos-compra{
    padding: 40px 80px;
    margin: 40px 0;
    display: flex;
    margin-top: 20px;
}

.produto-detail{
    width: 50%;
    padding-top: 30px;
}
.produto-detail h4{
    padding: 40px 0 20px 0;
}

.produto-detail h2{
    font-size: 28px;
}

.produto-detail select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.produto-detail input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.produto-detail button{
    background-color: #041181;
    padding: 1;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
    color: #fff;
    padding: 10px 10px;
    font-weight: 600;
    font-size: 14;
}

/* pagina de  Contato*/

.contato{
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.details{
    width: 40%;
}

.details{
    font-size: 12px;
}

.details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

.details h3{
    font-size: 16px;
    padding-bottom: 15px;
}





.descricao{
    text-align: start;
    padding: 10px 0;
}
.descricao span{
    color: #606063;
    font-size: 12px;
}
.descricao h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px
}

.descricao h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
    
}


.ofertas{
    background: radial-gradient(circle, rgba(13,242,132,1) 0%, rgba(55,1,219,1) 100%);
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.ofertas h4{
    color: #fff;
    font-size: 16px;
}

.ofertas h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

.ofertas span{
    color: #ef3636;
}

.ofertas button{
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 14;
}
.ofertas button:hover{
    background: #088178;
    color: #fff;
}

.banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 40px 80px;

}

.banner-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    padding-left: 30vh;
    text-align: center;
    background-image: url("imgs/cr7.png");
    min-width: 580px;
    height: 50vh;
    padding: 30px;
    background-size: contain;
    background-position: top 25% right 15%;
    background-repeat: no-repeat;
}

.banner-container h4{
    color: #000;
    font-size: 20px;
    font-weight: 300;
}
.banner-container h2{
    color: #000;
    font-size: 28px;
    font-weight: 500;
     
}
.banner-container span{
    color:#000;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
.banner-container button{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    border: 1px solid #000;
    outline: none;
    transition: 0.2s;
}

.banner-container button:hover{
    background: #088178;
    border: 1px solid #088178;
}




.email-input{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #3843d1;
    padding: 40px 80px;
    margin: 40px 0;
}

.des-email h4{
    padding-bottom: 5px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

.des-email p{
    font-size: 12px;
    font-weight: 700;
}

.form-email{
    display: flex;
    width: 40%;
    gap: 5px;
}



.form-email input{
    height: 3.125rem;
    padding:  0 1.25rem;
    font-size: 15px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
}

.form-email button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 14;

}


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 80px;

}


.colunm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    gap: 30px;
}

.coluna-footer img{
    width: 100px;
    margin-bottom: 30px;
}

.icon img{
    width: 40px;
    margin-right: 20px;
}

footer h4{
    font-size: 24px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin: 0 0 8px 0;
}

footer a:hover{
    color: #088178;
}

.copyright{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}


/* Pagina de Compra*/

.produto-img{
    width: 40%;
    margin-right: 50px;
}



@media (max-width:799px){
   #nav-ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0,0,0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.5s;
    }


    #nav-ul.active{
        right: 0px;
    }


    .navbar li{
        margin-bottom: 25px;
    }

    .navbar2{
        display: flex;
       
    
    }
    #close-toggle{
        display: flex;
        position: absolute;
        top: 30px;
        left: 30px;
    }
    #cart{
        display: none;
    }


    .painel{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    .produtos-container{
        justify-content: center;
        gap: 25px;
    }
    .form-email{
        width: 70%;
   }
}


@media (max-width: 477px){
    header{
        padding: 10px 30px;
    }
    .painel{
        padding: 0 20px;
        background-position: 55%;
    }
    .produto-detail{
        display: flex;
        flex-direction: column;
    }

    
}