
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Spartan', sans-serif, Arial, Helvetica;

}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 56px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #464646;
    margin: 15px 0 20  0px
}


body{
    width: 100%;
}


/* Header*/

header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between ;
    padding: 20px 80px;
    background: #041181;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: sticky;
    top: 0;
    left:0;
}


.navbar2{
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
    gap: 10px;

}
#close-toggle{
   display: none;
}
.navbar2 img{
    color: #fff;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease;
}
.navbar li a:hover,
.navbar li a.active{
    color: #fff;
}

.navbar li a.active::after,
.navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#cart{
    color: #fff;
}
/* botao Dark mode */
.checkbox{
    opacity: 0;
    position: absolute;
}
.label {
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;

    transform: scale(1.1);
}

.label .ball{
    color: #000102;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 22px;
    width: 22px;

    transform: translate(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .labell .ball {
    transform: translateX(24px);
}

.fa-moon{
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.painel .dark{
    background-color: #232c35;
}
/* Painel Principal*/

.painel{
    background-image: url("imgs/lewan.png");
    background-color: #c8cadb;
    height: 90vh;
    width: 100%;
    background-position: top 10vh right 20vh;
    background-repeat: no-repeat;
    background-size: 500px;
    padding:  0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.painel h4{
    padding-bottom: 15px;
}
.painel h1{
    color: #041181;
}

.painel button{
    background-color:#041181;
    color: #fff;
    border: 0;
    border-radius: 50px;
    padding: 10px 80px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}




.produtos{
    padding: 40px 80px;
    margin-top: 150px;
    text-align: center;
}
.produtos-container{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}


.produto{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
}

.produto :hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}


.produto img{
    width: 100%;
    border-radius: 20px;

}

/*Pagina loja*/


.shop-header{
    background-color: #52129c;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;

}

.shop-header h1,
.shop-header p{
    color: #fff;
}





.descricao{
    text-align: start;
    padding: 10px 0;
}
.descricao span{
    color: #606063;
    font-size: 12px;
}
.descricao h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px
}

.descricao h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
    
}

/*Banner Ofertas*/

.ofertas{
    background: #041181;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.ofertas h4{
    color: #fff;
    font-size: 16px;
}

.ofertas h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

.ofertas span{
    color: #ef3636;
}

.ofertas button{
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 14;
}
.ofertas button:hover{
    background: #088178;
    color: #fff;
}



/*Section Banner Cr7*/

.banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 40px 80px;

}

.banner-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    padding-left: 30vh;
    text-align: center;
    background-image: url("imgs/cr7.png");
    min-width: 580px;
    height: 50vh;
    padding: 30px;
    background-size: contain;
    background-position: top 25% right 15%;
    background-repeat: no-repeat;
}

.banner-container h4{
    color: #000;
    font-size: 20px;
    font-weight: 300;
}
.banner-container h2{
    color: #000;
    font-size: 28px;
    font-weight: 500;
     
}
.banner-container span{
    color:#000;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
.banner-container button{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    border: 1px solid #000;
    outline: none;
    transition: 0.2s;
}

.banner-container button:hover{
    background: #088178;
    border: 1px solid #088178;
}




.email-input{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #3843d1;
    padding: 40px 80px;
    margin: 40px 0;
}

.des-email h4{
    padding-bottom: 5px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

.des-email p{
    font-size: 12px;
    font-weight: 700;
}

.form-email{
    display: flex;
    width: 40%;
    gap: 5px;
}



.form-email input{
    height: 3.125rem;
    padding:  0 1.25rem;
    font-size: 15px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
}

.form-email button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 14;

}


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 80px;

}


.colunm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    gap: 30px;
}

.coluna-footer img{
    width: 100px;
    margin-bottom: 30px;
}

.icon img{
    width: 40px;
    margin-right: 20px;
}

footer h4{
    font-size: 24px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin: 0 0 8px 0;
}

footer a:hover{
    color: #088178;
}

.copyright{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}


/* Pagina de Compra*/

.produto-img{
    width: 40%;
    margin-right: 50px;
}

/* pagina de  Contato*/

.contato{
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}


.details{
    width: 40%;

    font-size: 12px;
}

.details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

.details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

.details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

.mapa{
    width: 55%;
    height: 400px;
}

.mapa iframe{
    width: 100%;
    height: 100%;
}
.form-contato{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

.form-contato form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 100px;
    padding: 40px 80px;
    margin: 40px 0;
}

.form-contato form input,
.form-contato form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

.form-contato form button{
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
    background-color: #3843d1;
    color: #fff;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 14;

}

.dev{
    margin-top: 105px;

}

.dev article p{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

.dev img{
    border-radius: 30px;
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

.dev  p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

.dev p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}


@media (max-width:768px){

    header{
        width: 100%;
    }




   #nav-ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0,0,0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.5s;
    }


    #nav-ul.active{
        right: 0px;
    }


    .navbar li{
        margin-bottom: 25px;
    }

    .navbar2{
        display: flex;
       
    
    }
    #close-toggle{
        display: flex;
        position: absolute;
        top: 30px;
        left: 30px;
    }
    #cart{
        display: none;
    }


    .painel{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    .produtos-container{
        justify-content: center;
        gap: 25px;
    }
    .form-email{
        width: 70%;
   }

   /*Pagina de Contato*/
   .form-contato{
     padding: 40px;
   }
   .form-contato form{
     width: 65%;
     
   }





}


@media (max-width: 577px){
    header{
        padding: 10px 30px;
    }
    .painel{
        padding: 0 20px;
        background-position: 55%;
    }
    .produto-detail{
        display: flex;
        flex-direction: column;
    }

       /*Pagina de Contato*/ 
       .contato{
        flex-direction: column;
    }
    .details{
        width: 100%;
        margin-bottom: 30px;
    }
    .mapa{
        width: 100%;
    }

    .form-contato{
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    .form-contato form{
        width: 100%;
        margin-bottom: 30px;
    }
    .dev{
        width: 100%;
        margin-left: 70px;
    }
    
}